{% extends 'base.html.twig' %}

{% block page_content %}
    <form  action="/product_add" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Название товара</label>
            <input name="product_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Цена</label>
            <input type="number" name="product_price" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <select name="product_category" class="form-check-hui">

            </select>
            <label class="form-check-label" for="form-check-hui">Категория</label>
        </div>
        <div class="mb-3 form-check">
            <input type="file" name="product_image" class="form-input-file" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Картинка</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}